[honeypot]
# 设定蜜罐伪装的主机名，诱导攻击者认为这是一台重要内网服务器
hostname = kforge-db-master-01
download_path = var/lib/cowrie/downloads

[ssh]
enabled = true
listen_port = 2222
version = SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.5

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
